html {
  height: 100%
}
header {
  border-bottom: 1px solid DeepSkyBlue;
}

h2 {
  font-family: Arial;
  font-size: 16px;
  text-align: center;
}

h3 {
  font-family: Arial;
  font-size: 14px;
  text-align: left;
}

h4 {
  font-family: Arial;
  font-size: 10px;
  text-align: left;
}
.btn {
  color: Black;
}

.small-box {
  width: 15%;
  height: 10%;
  border: 1px solid Black;
  position: absolute;
}

.medium-box {
  width: 15%;
  height: 20%;
  border: 1px solid Black;
  position: absolute;
}

.big-box {
  width: 50%;
  height: 50%;
  position: absolute;
}

.box-1 {
  top: 25%;
  left: 8%;
}

.box-2 {
  top: 50%;
  left: 8%;
}

.box-3 {
  top: 75%;
  left: 8%;
}

.box-4 {
  top: 25%;
  right: 8%;
}

.box-5 {
  top: 50%;
  right: 8%;
}

.box-6 {
  top: 75%;
  right: 8%;
}

.box-center {
  background-color: Black;
  top: 25%;
  left: 25%;
}

#grad {
  background-image: linear-gradient(to bottom, White 0%, AliceBlue 90%);
}
