html {
  height: 100%
}
header {
  border-bottom: 1px solid DeepSkyBlue;
}

body {
  padding: 1rem;
}

h2,
legend {
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-shadow: 3px 3px 5px SlateGray;
}

td, th {
  width: 4rem;
  height: 2rem;
 // border: 1px solid #ccc;
  font-family: Arial;
  text-align: center;
  padding: 2px;
  font-size:1vw;
  color:#030303;
}
th {
  background: #B8C9FE;
  border-color: white;
  font-weight: lighter;
}


fieldset {
  border: 1px solid white;
  border-radius: 8px;
  background: white;
  box-shadow: 7px 7px 20px 0px  rgba(0,0,0,0.3), 40px 40px 10px -40px  rgba(0,0,0,0.8);
}

h3 {
  font-family: Arial;
  font-size: 14px;
  text-align: left;
}

h4 {
  font-family: Arial;
  font-size: 10px;
  text-align: left;
}
.btn {
  color: Black;
}

.small-box {
  text-align: center;
  width: 20%;
  //height: 10%;

  max-width: 35%;
  padding: 2px;
  /* Center Div */
  display: block;
  
  position: absolute;
  margin: 2px 2px;
}

.medium-box {
  text-align: center;
  width: 20%;
  //height: 20%;
  
  max-width: 35%;
  padding: 2px;
  /* Center Div */
  display:block;
  margin: 2px 2px;
  position: absolute;
}

.big-box {
  width: 50%;
  height: 50%;
  position: absolute;
  //margin: 5px 5px;
}

.box-1 {
  top: 25%;
  left: 3%;
}

.box-2 {
  top: 55%;
  left: 3%;
}

.box-3 {
  top: 75%;
  left: 3%;
}

.box-4 {
  top: 25%;
  right: 3%;
}

.box-5 {
  top: 50%;
  right: 3%;
}

.box-6 {
  top: 75%;
  right: 3%;
}

.box-7 {
  top: 80%;
  right: 50%;
}

.box-center {
  background-color: Black;
  top: 25%;
  left: 25%;
}

.text {
  font-size:1vw;
  color:#545353;
}

.left{
  text-align:left;
  margin-left: 7%;
}

.center{
    text-align:center;
}

#grad {
  background: linear-gradient(0.5turn, #B9C9FB, #ebf8e1, #FBF3B9);
}
